@model LoginViewModel  
@{
    ViewData["Title"] = "Account Lockout";
}

<div class="alert-danger ">
    <h3>User is lockout due to multiple attempts of wrong password . Please try login after 10 mins </h3>
</div>




